@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/semi-bold/inter-semibold-webfont.woff2') format('woff2'),
         url('../fonts/inter/semi-bold/inter-semibold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/regular/inter-regular-webfont.woff2') format('woff2'),
         url('../fonts/inter/regular/inter-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'inter';
}
