body {
    letter-spacing: -0.02em;
    @include body-text;
}
h1 {
    &.welcome-header {
        font-weight: 600;
        @include header-font;
        width: 60%;
        min-width: 300px;
        max-width: 700px;
        margin: auto;
        line-height: 65px;
        letter-spacing: -0.01em;
        text-align: center;
        @include for-phone-only {
            font-size: 30px;
            line-height: unset;
        }
    }
}



.welcome-container {
    margin-top: 135px;
    margin-bottom: 100px;
}

.welcome-body {
    @include home-body-text;
    p {
        color: #4f4f4f;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin: 3rem 0;
    }
}

.join-slack-button {
    @include button-hover;
    color: $black;
    font-weight: bold;
    padding: 10px;
    @include b-radius;
    display: inline-block;
    transition: .3s ease-in-out;
    margin-left: -10px;
}

.welcome-events-activities {
    text-align: center;
    @include section-margin;
    .header-span {
        @include header-span;
    }
    p {
        @include small-width(60%);
        color: $darker-grey;
        @include body-text;
    }

    h2 {
        @include header-font;
    }
}

h1, h2, h4, b {
    font-weight: bold;
}

.gallery-flex {
  @include section-margin;
  width: 100%;
  overflow: hidden;
  margin: auto;
  .first-grid {
    div {
        &:nth-child(1) {
            min-width: 467.03px;
            height: 305px;
            @include medium-screens {
                min-width: 159px;
                height: 200px;
            }
          }
          &:nth-child(2) {
            min-width: 233px;
            height: 305px;
            padding: 0 .4rem;
            @include medium-screens {
                min-width: 67px;
                height: 200px;
                padding: 0 .2rem;
            }
          }
          &:nth-child(3) {
            min-width: 233px;
            height: 305px;
            // padding: 0 .3rem;
            @include medium-screens {
                min-width: 67px;
                height: 200px;
            }
          }
          &:nth-child(4) {
            min-width: 233px;
            height: 305px;
            padding: 0 .4rem;
            @include medium-screens {  display: none; }
          }
          &:nth-child(5) {
            min-width: 233px;
            height: 305px;
            @include medium-screens {  display: none; }
          }
    }
    display: flex;
    justify-content: space-between;
     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include b-radius();
     }
     align-items: stretch;
     @include for-phone-only {
        div {
            margin: 0;
            img {
                height: 100%;
            }
            width: 32.33%;
            overflow: hidden;
            height: 200px;
            &:nth-child(4), &:nth-child(5) {
                display: none;
            }
        }
    }
 }

 .second-grid {
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include b-radius();
    }
    div {
        // max-height: 305px;
        // @include b-radius();
        // display: inline-block;
        // overflow: hidden;
        // margin: 2px;
        // &:first-child {
        //     margin-left: 0px;
        // }
        // &:last-child {
        //     width: 200px;
        // }
        &:nth-child(1) {
            min-width: 233px;
            height: 305px;
            @include medium-screens {  display: none; }
          }
          &:nth-child(2) {
            min-width: 467.03px;
            height: 305px;
            padding: 0 0.4rem;
            @include medium-screens {
                min-width: 160px;
                height: 200px;
                padding: 0;
                padding-right: 0 0.4rem;
            }

            @include for-phone-only {
                padding-left: 0;
            }
          }
          &:nth-child(3) {
            min-width: 467.03px;
            height: 305px;
            @include medium-screens {
                min-width: 160px;
                height: 200px;
                padding: 0;
                padding-right: 0.4rem;
            }
          }
          &:nth-child(4) {
            min-width: 233px;
            height: 305px;
            padding-left: .4rem;
            @include medium-screens {
                display: none;
                min-width: 160px;
                height: 200px;
            }
          }

        //   &:nth-child(even) {
        //     padding: 0 0.4rem;
        //   }
          &:nth-child(odd) {
            padding: 0;
          }
    }
    @include for-phone-only {
        margin-top: .2rem;
        div {
            overflow: hidden;
            height: 200px;
            img {
                height: 100%;
            }
        }
    }

 }

}

section {
    @include section-margin;
}
 
.event-cards {
     min-height: 360px;
 }

 .event-card {
    color: $darker-grey;
     &:hover {
         text-decoration: none;
         color: $darker-grey;
     }
     background: #E6EFFF;
     padding: 40px 23px;
     @include b-radius();
     height: 360px;
     transition: .3s ease-in-out;
     &:hover {
         background: darken($color: #E6EFFF, $amount: 10%);
     }
    span.day {
        font-size: 78px;
        display: block;
        font-weight: bold;
        line-height: 1;
    }
    
    span.month {
        font-weight: 600;
         @include body-text;
         text-transform: uppercase;
    }

    span.datetime {
        display: block;
        font-size: 16px;
        font-weight: 500;
    }

    h3 {
        font-size:24px;
        margin-top:50px;
        font-weight: 500px;
    }
    &:nth-child(2) {
        background: #FFEEE6;
        transition: .3s ease-in-out;
        &:hover {
            background: darken($color: #FFEEE6, $amount: 10%);
        }
      }
      &:nth-child(3) {
        background: #FFFBE6;
        transition: .3s ease-in-out;
        &:hover {
            background: darken($color: #FFFBE6, $amount: 10%);
        }
      }
      &:nth-child(4) {
        background: #CDCBE2;
        transition: .3s ease-in-out;
        &:hover {
            background: darken($color: #CDCBE2, $amount: 10%);
        }
      }
 }

 .more-events {
     margin-top:40px;
     .small-heading{
         @include button-hover;
        padding:10px;
        @include b-radius;
        font-size: 20px;
        font-weight: 600;
        color: $black;
    }
    .view-entries{
        @include button-hover;
        color: $black;
        font-weight: bold;
        padding: 10px;
        margin-left: -10px;
        &:hover {
            background-color: #f1f1f1;
        }
        @include b-radius;
        display: inline-block;
        transition: .3s ease-in-out;
    }
 }

 .design-challenges {
     span {
         @include header-span;
         @include for-phone-only {
             display: block;
             margin-top: 100px;
         }

     }

     .header-sm-up {
        @include for-phone-only {
            display: none;
        }

    }
    .header-xs {
         @include for-tablet-portrait-up {
             display: none;
         }
         h2 {
             width: 70%;
             line-height: 1.2;
             margin: 15px auto;
         }
     }

     @include section-margin;
     .challenge-image {
         height:650px;
         width: calc(100% - 60px);
         background-size: 100%;
         @include b-radius();
         overflow: hidden;
         img {
             width: 100%;
             @include b-radius();
         }

         @include for-phone-only {
             width: 100%;
             border-radius: 0;
             margin-top: 50px;
             height: auto;
         }
     }
     h2 {
         margin-top: 20px;
         @include header-font;
         line-height: 65px;
     }
     h3 {
         font-size: 30px;
         margin-top: 20px;
         @include for-phone-only{
             font-size: 22px;
         }
     }
     p {
         margin: 20px auto;
         @include body-text;
         color: $darker-grey;
         line-height: 28px;
         @include for-phone-only {
             margin-top: 50px;
         }
     }
 }

 .benefits {
     p,ul {
        color: $darker-grey;
        @include body-text;
        line-height: 28px;
     }
     p {
         margin-top: 30px;
     }
     ul {
        padding-inline-start: 25px;
     }
     .image-div {
         height: 650px;
         max-width: 550px;
         @include b-radius();
         overflow: hidden;
         margin-left: auto;
         img {
             width: 100%;
             height: 100%;
             object-fit: cover;
         }
     }
     h2 {
         @include header-font;
         margin-top: 20px;
     }
     span {
         @include header-span;
     }
     @include for-phone-only {
         h2, span {
            display: block;
            text-align: center;
         }
         margin-top: 100px;
         .text-for-sm {
             display: none;
         }
     }

     @include for-tablet-portrait-up {
         .text-for-xs {
             display: none;
         }
     }
     li {
        margin-top: 30px;
        list-style-type: none;
        &:before {
            display: block;
            content:  url(/images/Checkmark.svg);
            margin-left: -30px;
            float: left;
            margin-top: 2px;
        }
     }
    .btn.btn-link {
        color: $darker-grey;
        font-weight: 600;
        font-size: 20px;
        &:hover {
            text-decoration: dotted;
            background: #F1F1F1;
            color: $darker-grey;
        }
    }
 }

 .communities {
     padding: 150px 0;
     background: #fafafa;
     text-align: center;
     h2 {
         margin: 20px 0;
         @include header-font;
         @include for-phone-only {
             font-size: 30px;
             margin-bottom: 20px;
         }
     }
     span {
         @include header-span;
     }
     p {
         @include small-width(60%);
     }

     h3 {
         font-size: 30px;
         text-align: left;
         margin-top: 25px;
         font-weight: $font-bold;
     }
     .col-sm-6{

        text-align: left;
        margin-top: 100px;
        @include for-phone-only {
            margin-top: 10px;
        }
        div {
            padding:40px;
            padding-top:5px;
        }
         p {
             color: $grey;
             font-size: 18px;
             width:100%;
             text-align: left;
        }

    }
     .community-leaders {
         height:250px;
          @include border-radius;
          background-color: #EFF3FF;
         @include for-phone-only {
            height: auto;
        }
    }
        
        .start-group {
        height:250px;
         background-color: #E8F3EC;
         @include border-radius;
         @include for-phone-only {
             height: auto;
         }
     }

     @include for-phone-only {
         padding: 100px 0;
         p {
             color: $grey;
             width: 93%;
             margin: auto;
         }
     }

     .flags-section {
         margin-top: 60px;
         font-size: 1rem;
         // Components imported from bootstrap scss
         @include make-container();
         @include make-container-max-widths();
         .row {
             div {
                 margin-top: 20px;
                 text-align: left;
                 font-weight: 600;
             }
             img {
                 margin-right: 16px;
             }
         }

        }
         .start-figma-group {
            display: inline-block; 
            margin-top: 15px;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -0.02em;
            color: #333333;
            transition: .3s ease-in-out;
            @include button-hover;
            @include b-radius;
            margin-left: -8px;
            padding:10px;
            &:hover{
                background-color: #C2F3D4;
            }
            &.our-amb{
                &:hover{
                    background-color: #CCD9FF;
                }
            }
        }
 }

 .home-footer {
    padding: 150px 0;
 }

 footer {
     display: flex;
     padding: 10px;
     border-top: 1px solid $light-grey;

     .nav {
         li {
             margin: 5px 20px;
             @include for-phone-only {
                span {
                    display: none;
                }
            }
             a {
                color: #222222;
                font-size: 20px;
                font-weight: 600;
                span.fab {
                    font-weight: normal;
                    color: $grey;
                    display: inline-block;
                }
             }

             @include nav-hover;
             @include medium-screens {
                 margin: 0;
             }
         }
     }
 }

 section.join-us {
     h2 {
         @include header-font;
         font-weight: bold;
     }
     display: flex;
     align-items: center;
     position: relative;
     @include for-phone-only {
         display: block;
    }
    @include for-tablet-portrait-to-desktop {
        display: block;
   }
        .join-us {
            position: absolute;
            flex-shrink: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-left:-50px;
            @include for-phone-only {
                position: relative;
                margin: 0 auto;
                width: 100%;
                text-align: center;
            }

            @include for-tablet-portrait-to-desktop {
                position: relative;
                margin: 0 auto;
                width: 100%;
                text-align: center;
            }
        }
        .image-div {
            flex-shrink: 0;
            width: 557px;
            overflow: hidden;
            img {
                width: 100%;
            }
            margin-left: 30%;
            @include for-phone-only {
                display: inline;
                margin: 0;
                width: 70%;
                img {
                    width: 70%;
                }
            }
            @include for-tablet-portrait-to-desktop {
                display: inline;
                margin: 0;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .image-div-smaller {
            flex-shrink: 0;
            height: 264px;
            width: 391px;
            margin-left: -150px;
            @include for-phone-only {
                margin-left: -100px;
            }
            img {
                width: 100%;
                @include b-radius();
                box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
            }
            @include for-phone-only {
                display: inline;
                img {
                    width: 50%;
                }
            }
            @include for-tablet-portrait-to-desktop {
                display: inline;
                float: right;
                margin:0;
                display: none;
                margin-top: -100px;
                img {
                    width: 50%;
                }
            }
        }
        span {
            @include header-span;
            display: inline-block;
            margin-bottom: 25px;
        }
        padding: 0px 20px;
        padding-bottom: 150px;
        @include make-container;
        @include make-container-max-widths;
        @include for-tablet-portrait-up {
            max-width: 1100px;
        }
        @include for-phone-only {
            padding-bottom: 50px;
        }
 }

 @include for-phone-only {
     h2 {
         font-size: 30px !important;
     }
     h3 {
         font-size: 18px !important;
     }
 }

  $size: 6;
  .gallery {
    display: grid;
    height: calc(100vh - 300px);
    grid-template: repeat($size, 1fr) / repeat($size, 1fr);
    grid-gap: 0.5em;
    @media (max-width: 800px) {
      grid-gap: 0;
      & > div {
        margin: 1%;
        @media (max-width: 350px) {
          width: 98%;
        }
      }
    }
    & > div {
      //Grid Structure
      &:nth-child(#{$size}n + 1) {
        grid-column: span 2;
        grid-row: span 3;
        @include b-radius;
      }
      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 3;
        @include b-radius;
      }
      &:nth-child(3) {
        grid-column: span 1;
        grid-row: span 3;
        @include b-radius;
      }
      &:nth-child(4) {
        grid-column: span 1;
        grid-row: span 3;
        @include b-radius;
        @include medium-screens { display: none; }
      }
      &:nth-child(5) {
        grid-column: span 1;
        grid-row: span 3;
        @include b-radius;
        @include medium-screens { display: none; }
      }
      &:nth-child(6) {
        grid-column: span 1;
        grid-row: span 3;
        @include b-radius;
        @include medium-screens { display: none; }
      }
      &:nth-child(7) {
        grid-column: span 2;
        grid-row: span 3;
        @include b-radius;
      }
      &:nth-child(8) {
        grid-column: span 2;
        grid-row: span 3;
        @include b-radius;
      }
      &:nth-child(9) {
        grid-column: span 1;
        grid-row: span 3;
        @include b-radius;
        @include medium-screens { display: none; }
      }
      & > img {
        width: 100%;
        min-height: 100%;
        transition: all ease 1s;
        object-fit: cover;
      }
    }
    & > div {
      overflow: hidden;
      position: relative;
    //   box-shadow: 0 2px 8px 0 rgba(#000, 0.2), 0 3px 20px 0 rgba(#000, 0.19);
    }
    @include medium-screens {
        grid-template: repeat($size, 1fr) / repeat(4, 1fr);
    }
  }
  
  .scale-career-mobile {
    .image-div {
          @include b-radius();
          img{
            @include b-radius();
            @include for-phone-only {
                width: 100%;
                height: auto;
            }
          }
    }
  }
  
  @include medium-screens {
      .scale-career-mobile { padding: 0; }
      .benefits .image-div {
          @include b-radius();
          max-height: 500px;
      }
      .text-for-xs {
          padding-left: 15px;
          padding-right: 15px;
          p {
              font-size: 16px;
              line-height: 26px;
          }
      }
  }

  section.start-conversation {
      margin-bottom: 150px;
    div.container{
          height: 300px;
          background-color: #F1F1F1;
          padding: 60px 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include border-radius;
          p {
              margin:25px auto;
              color: $darker-grey;
          }
          a {
              &:hover {
                  background-color: #f1f1f1;
              }
          }

          @include for-phone-only{
              padding: 20px;
              height:auto;
          }
    }
  }
