@mixin header-span {
    color: $grey;
    text-transform: uppercase;
    font-weight: bold;
}

@mixin nav-hover {
    a:hover {
        .fa-twitter {
            color: #76A9EA !important;
        }
        .fa-dribbble {
            color: #A6285F !important;
        }
        .fa-instagram {
            background: linear-gradient(0deg, #E09B3D 0.29%, 
            #C74C4D 29.97%, #C21975 59.65%, #7024C4 99.22%) !important;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #ffffff !important;
            border-radius: 4px;
        }
        .fa-medium-m {
            color: #222222 !important;
        }
    }
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-portrait-to-desktop {
    @media (min-width: 600px) and (max-width: 1199px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

@mixin section-margin {
    margin-top: 100px;
    @include for-phone-only {
        margin-top: 50px;
    }
}


@mixin header-font {
    @include for-phone-only {
        font-size: 30px;
        line-height: unset;
    }
    @include for-tablet-portrait-up() {
        font-size: 40px;
        line-height: unset;
    }
    @include for-tablet-landscape-up {
        font-size: 60px;
    }
}

@mixin body-text {
    font-size: calc(16px + 2 * ((100vw - 360px) / 768));
    @include for-tablet-portrait-up {
        font-size: calc(15px + 10 * ((100vw - 769px) / 2048));
    }
}

@mixin small-width($width: 78%) {
    margin: auto;
    text-align: center;
    width: $width;

    @include for-phone-only {
        width: 100%;
    }
}

@mixin grey-large-text {
    color: $darker-grey;
    letter-spacing: -0.02em;
    @include for-phone-only {
        font-size: 16px;
        line-height: unset;
    }
    @include for-tablet-portrait-up {
        font-size: 18px;
    }
    @include for-tablet-landscape-up {
        line-height: 32px;
        font-size: 22px;
    }
}

@mixin home-body-text {
    @include small-width;
    @include grey-large-text;
}

