nav.figma-nav {
    border-bottom: 1px solid $light-grey;
    background: #ffffff;
    a {
        span {
            color: $grey !important;
            font-weight: normal;
            font-size: 22px;
            vertical-align: middle;
            padding-right: 5px;
            @include for-phone-only {
                margin-right: 10px;
            }
        }

        color: $black !important;
        font-size: 18px !important;
        font-weight: bold;
    }

    .navbar-toggler {
        border: 0;
        outline: none;
    }
    @include nav-hover;
    .navbar-nav {
        .nav-item:last-child {
            a {
                padding-right:0;                
            }
        }
        li {
            a.nav-link {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }
        }

    }
}