nav.figma-nav {
    border-bottom: 1px solid $light-grey;
    background: #ffffff;
    a {
        span {
            color: $grey !important;
            font-weight: normal;
            font-size: 22px;
            vertical-align: middle;
        }
        color: #222222 !important;
        font-size: 18px !important;
        font-weight: bold;
    }

    @include nav-hover;
}